In [2]:
print("hello world")

hello world

In [3]:
print("hello harbour space") #harbouspace welcome messgae

hello harbour space

In [4]:
""" 
hello myanmar
hello treasure
hello harbour space
"""

' \nhello myanmar\nhello treasure\nhello harbour space\n'

In [6]:
print("Hello", "world", "123456789", sep="+")

Hello+world+123456789

In [7]:
print("Hello", "world", "123456789", sep="-")

Hello-world-123456789

In [9]:
""" 
Win Yadanar Oo
High Tech Entrepreneur student
19 years old

"""

' \nWin Yadanar Oo\nHigh Tech Entrepreneur student\n19 years old\n\n'

In [11]:
print("Hello", "Win Yadanar Oo", "Harbour Space", sep="?")

Hello?Win Yadanar Oo?Harbour Space

In [12]:
type (0.0)

float

In [13]:
type (-1)

int

Day 3

In [2]:
age = 22
firstname = "Win Yadanar"
is_odd = False
print("age")

age

In [4]:
age = 22
firstname = "Win Yadanar"
is_odd = False

age = 23

print(age)

23

In [5]:
age = 22
firstname = "Win Yadanar"
is_odd = False

age = 23
age = None
print(age)

None

In [ ]:
a = 1
b = 2

first_number = 1
second_number = 2

In [ ]:
name = "win yadanar" # okay okay okay
Age = 19 # bad
first_number = 1 # okayyyyy
1var  # bad

In [ ]:
# reserved variables ( should not use)

Input

In [8]:
input()

'hello treasure'

In [ ]:
user_input = input()

In [ ]:
#int()
a = int("-1")